[include]
    path = ~/.gitconfig.common
[include]
    path = ~/.config/git/local-user.conf
[include]
    path = ~/.config/git/local-signing.conf

[core]
    autocrlf = input
	editor = code --wait

# credencial: use SSH como padrão (você já está fazendo),
# então nem precisa de helper de HTTPS se migrar tudo pra SSH.
    
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait \"$MERGED\"
[mergetool]
	keepBackup = false
	prompt = false
[difftool]
	prompt = false
